https://duplicate-question-detector-q8ba.onrender.com/

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

C:\Users\ACER\AppData\Local\Temp\ipykernel_16208\2436019669.py:1: DtypeWarning: Columns (7,8,9,10,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('train.csv')

In [3]:
df.shape

(404351, 13)

In [4]:
df.head()

,id,qid1,qid2,question1,question2,is_duplicate,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,0,1,2,What is the step by step guide to invest in sh...,What is the step by step guide to invest in sh...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,3,4,What is the story of Kohinoor (Koh-i-Noor) Dia...,What would happen if the Indian government sto...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,5,6,How can I increase the speed of my internet co...,How can Internet speed be increased by hacking...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,7,8,Why am I mentally very lonely? How can I solve...,Find the remainder when [math]23^{24}[/math] i...,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,9,10,"Which one dissolve in water quikly sugar, salt...",Which fish would survive in salt water?,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
new_df = df.sample(30000)

In [6]:
new_df.isnull().sum()

id                  0
qid1                0
qid2                0
question1           0
question2           1
is_duplicate        0
Unnamed: 6      29983
Unnamed: 7      29997
Unnamed: 8      30000
Unnamed: 9      30000
Unnamed: 10     30000
Unnamed: 11     30000
Unnamed: 12     30000
dtype: int64

In [7]:
new_df.duplicated().sum()

np.int64(0)

In [8]:
ques_df = new_df[['question1','question2']]
ques_df.head()

,question1,question2
318814,What is the salary of a pediatric surgeon in A...,What is the average salary of an Indian surgeon?
199840,What are some good podcasts about personal fin...,What radio show or podcast provides the best a...
283860,What are the safety precautions on handling sh...,What are the safety precautions on handling sh...
222632,Avg antivirus 1800</v\>251<’-‘>4919 Avg tech s...,Fix@~ 1.8009315079 AVG Antivirus technical sup...
30157,How good is Donald Trump for America as Presid...,Is Donald Trump the best for America?

In [10]:
ques_df['question1'] = ques_df['question1'].fillna("")
ques_df['question2'] = ques_df['question2'].fillna("")

C:\Users\ACER\AppData\Local\Temp\ipykernel_16208\3056535961.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ques_df['question1'] = ques_df['question1'].fillna("")
C:\Users\ACER\AppData\Local\Temp\ipykernel_16208\3056535961.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ques_df['question2'] = ques_df['question2'].fillna("")

countVEctorizer -> convert text into Bag of words(BOW)

In [11]:
from sklearn.feature_extraction.text import CountVectorizer
# merge texts
questions = list(ques_df['question1']) + list(ques_df['question2'])

cv = CountVectorizer(max_features=3000)
q1_arr, q2_arr = np.vsplit(cv.fit_transform(questions).toarray(),2)

In [12]:
temp_df1 = pd.DataFrame(q1_arr, index= ques_df.index)
temp_df2 = pd.DataFrame(q2_arr, index= ques_df.index)
temp_df = pd.concat([temp_df1, temp_df2], axis=1)
temp_df.shape

(30000, 6000)

In [13]:
temp_df

,0,1,2,3,4,5,6,7,8,9,...,2990,2991,2992,2993,2994,2995,2996,2997,2998,2999
318814,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
283860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
222632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
30157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365398,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
399642,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
114596,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
239926,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
194296,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
temp_df['is_duplicate'] = new_df['is_duplicate']

In [15]:
temp_df.head()

,0,1,2,3,4,5,6,7,8,9,...,2991,2992,2993,2994,2995,2996,2997,2998,2999,is_duplicate
318814,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
199840,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
283860,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
222632,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
30157,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [16]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(temp_df.iloc[:,0:-1].values,temp_df.iloc[:,-1].values,test_size=0.2,random_state=1)

In [17]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
rf = RandomForestClassifier()
rf.fit(X_train,y_train)
y_pred = rf.predict(X_test)
accuracy_score(y_test,y_pred)

0.7425

In [ ]:
is

In [18]:
from xgboost import XGBClassifier
xgb = XGBClassifier()
xgb.fit(X_train,y_train)
y_pred = xgb.predict(X_test)
accuracy_score(y_test,y_pred)

ValueError: Invalid classes inferred from unique values of `y`.  Expected: [ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15], got [' ?'
 ' Finkibi & Spinko. : How long does it take to play a game of finkeybe?'
 ' her/his career goals? How'
 " isn't its too late for me to learn English grammar?" ' mean in Java?'
 ' there is a way to eliminate tuition debt within a year. Ask for more information.'
 "' meaning a new row in the matrix. For which value(s) of x is rank(D) = 2?"
 '0' '1'
 'I am 17. I am a very motivated type of person with many leadership skills and I want to become an entrepreneur in business management. How can I make money work for me in my favor? For example how do I turn my assets into money makers over spending my money on liabilities?'
 'I got an offer from logistics startup (2014) of 7lpa, as if now am working with HP CTC 5.5 what would be beneficial for me in long run, plz suggest?'
 'Was  Jesus Christ born on earth?'
 'What will be your starcast if Mahabharat is made in tollywood?'
 'Who has the highest IQ in India?'
 "Why would a girl on earth be easily attracted by 'Superman', but not a guy who has made his career on his own, saves lives or makes lives of people easy?"
 'Why would an intelligent person vote for Donald Trump?']